body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
ol,ul,dl,li { list-style:none;}
h1, h2, h3, h4, h5, h6 { font-size:100%;}
a{text-decoration: none;}
/*header*/
.topwar{
	border-bottom: 1px solid #eee;
    background-color: #f3f3f3;
}
.header_box{
	width: 1200px;
	height: 28px;
	margin: 0 auto;
	background-color:#f3f3f3;
	border-top: 1px solid #b6b4b6;
}
.header_box_left{
	width: 230px;
	height: 28px;
	float: left;
	font-size: 12px;
	line-height: 28px;
	color: #b3b3b3;
	margin-left: 75px;
}
.header_box_left .header_dl{
	color: #b3b3b3;
}
.header_box_left .header_dl:hover{
	color: #ff9000;
}
.header_box_right{
	width: 515px;
	height: 28px;
	color: #b3b3b3;
	font-size: 14px;
	float: right;
}
.header_box_right a{
	color: #b3b3b3;
}
.header_li_one{
	font-size: 12px;
	position: relative;
	float: left;
}
.header_li{
	font-size: 12px;
	line-height: 28px;
	float: left;
	margin-left:10px ;
}
.header_li_gw{
	font-size: 12px;
	line-height: 28px;
	float: left;

	margin-left: 20px;

}
.header_li_gw a{
	display: inline-block;
    line-height: 28px;
  	padding-left: 15px;
    background: url(../img/4.png) no-repeat left -82px;
}
.header_li_gw a:hover{
	color: #ff9000;
}
.header_li a:hover{
	color: #ff9000;
}
.header_li_one a:hover{
	color: #ff9000;
	background-color: white;
}
.header_right_ul{
	width: 515px;
	height: 28px;
}
.header_li_one a{
	display: inline-block;
    line-height: 28px;
  	padding-right: 7px;
    background: url(../img/4.png) no-repeat right -17px;
}
.list{
	
	position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    width: 95px;
    left: 0px;
    top: 28px;
    display: none;
}
.header_li_one:hover .list{
	display:block;
}
.list li:hover{
	color:#ff9000 ;
}
.list li{
	border-bottom: 1px dashed #b3b3b3;
}
.header_li_two{
	font-size: 12px;
	height: 28px;
	position: relative;
	float: left;
	line-height: 28px;
	margin-left: 10px;
}
.header_li_two a{
	display: inline-block;
    line-height: 28px;
  	padding-left: 11px;
    background: url(../img/4.png) no-repeat left -110px;
}
.header_li_two:hover{
	color: #ff9000;
	background-color: white;
}
.header_li_two a:hover{
	color: #ff9000;
	
}
.header_li_two:hover .imgs{
	display: block;
}
.header_li_two:hover .header_li_div{
	display: block;
}
.header_li_div{
	position: absolute;
	width: 230px;
	height: 15px;
	border-bottom: 1px solid #B6B4B6;
	display: none;
}

.imgs{
	position: absolute;
	top:28px;
	left: 0;
	border: 1px solid whitesmoke;
	display: none;
}
.imgs_top_one{
	width: 230px;
	float: left;
}
.imgs_top{
	width: 80px;
	height: 100px;
	float: left;
	margin: 30px 10px;
}
.imgs_top p{
	font-size: 12px;
	color: black;
	text-align: center;
}
.imgs_cnt{
	margin-left:10px ;
}
.imgs_cnt_bot{
	 border: none;
	 width: 40px;
	 height: 20px;
	 background-color: #ff9000;
	 color: white;
}
.header_li_th{
	font-size: 12px;
	height: 28px;
	position: relative;
	float: left;
	line-height: 28px;
	margin-left: 10px;
}
.header_li_th a{
	display: inline-block;
    line-height: 28px;
  	padding-left: 18px;
    background: url(../img/4.png) no-repeat left -170px;
}
.header_li_th:hover a{
	color: #ff9000 ;
}
.header_li_th:hover{
	background-color: white;
}
.header_li_th:hover .header_li_kb{
	display: block;
}
.header_li_kb{
	width: 400px;
	height: 20px;
	position: absolute;
	top: 28px;
	right: 0;
	background-color: pink;
	float: left;
	display: none;
}
.header_li_j{
	width: 30px;
	height: 28px;
	font-size: 12px;
	color: #ff9000;
	line-height: 28px;
	margin-left: 10px;
	float: left;
}
.header_li_sc{
	font-size: 12px;
	line-height: 28px;
	float: left;
	margin-left: 10px;
}
.header_li_sc a{
	display: inline-block;
    line-height: 28px;
  	padding-left: 15px;
    background: url(../img/4.png) no-repeat left -201px;
}
/*logos*/
.worper_sch{
	background-color: #f9f9f9;
    width: 100%;
    clear: both;
    padding: 20px 0;
}
.worper{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	/*padding: 20px 0;*/
}
.logos{
	width: 200px;
	height: 80px;
	margin-right: 75px;
	float: left;
}
.logos img{
	width: 200px;
	height: 78px;
	
}
.search{
	float: left;
    position: relative;
    width: 520px;
    padding-top: 18px;
}
.search_top{
	background: url(../img/2.png) no-repeat;
    width: 503px;
    height: 36px;
}

.text{
	float: left;
    width: 400px;
    height: 20px;
    line-height: 20px;
    padding: 8px 12px 8px 18px;
    border: 0 none;
    background: none;
    outline: none;
}
.sch{
	float: left;
    width: 68px;
    height: 36px;
    cursor: pointer;
    border: 0 none;
    background: none;
    outline: none;
}
.search_btm{
	padding: 5px 0;
    color: #9b9b9b;
    white-space: nowrap;
}
.search_btm a{
	padding: 0 6px;
    color: #9b9b9b;
    font-size: 11px;
    text-decoration: none;
    
}
.search_right{
	float: right;
    width: 333px;
    height: 80px;
    overflow: hidden;
    background: url(../img/6.png) no-repeat right 0;
    text-indent: -9999px;
}
/*nav*/
.nav{
	background-color: #333;
    color: #fff;
    clear: both;
    width: 100%;
}
.nav_box{
	width: 1200px;
	margin: 0 auto;
	height: 42px;
}
.nav_left{
	width: 220px;
    height: 42px;
    float: left;
    /*position: relative;*/
    z-index: 99;
}
.nav_left h2{
	height: 42px;
    width: 220px;
    background-color: #1a1a1a;
    font-size: 16px;
    color: #cfcfcf;
    font-weight: 400;
    line-height: 42px;
    /*position: absolute;*/
}
.nav_left h2 a{
	color: #cfcfcf;
}
.nav_left h2 i{
	display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 12px;
    background: url(../img/7.png) no-repeat 0 -200px;
    margin: 0 5px 0 13px;
}
.nav_cnt{
	width:590px;
	height: 42px;
	float: left;
	/*background-color: #333333;*/
	
}
.nav_cnt a{
	color: #ffffff;
	line-height: 42px;
	padding:0px 21px;
	background: url(../img/8.png) no-repeat right center;
}
.nav_right{
	float: right;
    width: 380px;
    text-align: right;
    line-height: 42px;
    height: 42px;
    overflow: hidden;
}
.item a{
	display: inline-block;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: white;
	background: url(../img/1.gif) no-repeat right 4px;
	padding-right: 10px;
}
